<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="coordinator.js"></script>
    <title>Coordinators's Page</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Carleton University</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a onclick="myLogout()">Logout</a></li>
                <script>
                    function myLogout(){
                        $.post("/logoutPage");
                    };
                </script>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3>Coordinator Page</h3>
    </div>


    <div class="page-header">

        <h4 id = "projName"></h4>
        <h3>Welcome!</h3>
        <br/>
        <div th:if="${session.signedin}">
            <script th:inline="javascript">
                $("#projName").append([[${session.user.firstName}]]);

            </script>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="row-md-6 centered" style="text-align: center">
            <h3>Send Reminders to Unregistered Students</h3>
            <button style="margin: auto; display: block" class = "btn btn-info btn-sm" onclick="send()">Send</button>
            <script>
                function send(){
                    $.post("/coordPage/sendreminder");
                    alert("Emails Sent!");
                };
            </script>
        </div>
        <div class="row-md-6 ">
            <h3>Schedule Presentations</h3>
            <table class="table">
                <thead>
                <tr>
                   <th>9.30</th>
                    <th>10.00</th>
                    <th>10.30</th>
                    <th>11.00</th>
                    <th>11.30</th>
                    <th>12.00</th>
                    <th>12.30</th>
                    <th>13.00</th>
                    <th>13.30</th>
                    <th>14.00</th>
                    <th>14.30</th>
                    <th>15.00</th>
                    <th>15.30</th>
                </tr>
                </thead>
                <tbody id="tableP">
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>