<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8"/>
    <title>logged out</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1 >You've Been Logged out</h1>
</div>
<h2 style="align-content: center"><a href="/home">  Home  </a></h2>

</body>
</html>