<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" src="studentPage.css"/>
    <title>Professor's Page</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Carleton University</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>
                <li><a href="#setting">Setting</a></li>-->
                <li><a href="#logout" onclick="myLogout()">Logout</a></li>
                <script>
                    function myLogout(){
                        location.href = "/logoutPage";
                    };
                 </script>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3>4th Year Projects</h3>
    </div>


    <div class="page-header">
        <h4>Your Projects</h4>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>Members</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Project 1</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Project 2</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Project 3</td>
                    <td>the Bird</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body><div class="container theme-showcase" role="main">


    <div>
        <h4>Create new projects</h4>
        <div id="select">
            <h3 id="projName"></h3>
            <br/>
            <button type="button" id="but1" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">New
                Project
            </button>
        </div>
        <!--<div th:if="${session.user.hasProject}">
            <script th:inline="javascript">
                $("#projName").append([[${project.name}]]);
                $("#but1").disabled(true);
            </script>
        </div>-->

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Project</h4>
                    </div>
                    <div class="modal-body" id="preview">
                        <form class="form-newproject" th:action="@{/create_project}" id="newprojform" method="post">
                            <input type="text" id="name" name ="name" th:field="*{name}"  class="form-control" placeholder="Project Name" required="" autofocus=""/>
                            <!--<input type="text" id="description" name ="description" th:field="*{description}" class="form-control" placeholder="Description" required="" autofocus=""/>-->
                            <textarea name="description" id="description" class="form-control" required="" autofocus="" placeholder="Enter the description of the project here..." style="resize: vertical;"></textarea>
                            <br/>
                            <input type="hidden"
                                   name="${_csrf.parameterName}"
                                   value="${_csrf.token}"/>
                            <button class="btn btn-lg btn-primary btn-block" type="submit" onsubmit="createNewProject()">Finish</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</html>